.project-table {
  border-collapse: collapse;
}

.project-table td,
.project-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.project-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.project-table tr:hover {
  background-color: #ddd;
}

.project-table th {
  background-color: darkblue;
  color: white;
}
