.data-table {
  border-collapse: collapse;
  justify-self: start;
}

.data-table td,
.data-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}

.data-table th {
  background-color: darkblue;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.project-table {
  grid-column: 1;
  cursor: pointer;
}

.imodels-table {
  grid-column: 2;
  grid-row: 2 / span 3;
  text-align: center;
}

.imodels-header {
  grid-column: 2;
  grid-row: 1;
}

.favorite-column {
  height: 16px;
  width: 16px;
}

.imodel-thumbnail {
  height: 154px;
}
